@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --success-bg: #d4edda;
  --success-text: #155724;
  --error-bg: #f8d7da;
  --error-text: #721c24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --success-bg: #292266;
    --success-text: #7b89d8;
    --error-bg: #4a1c24;
    --error-text: #f5b7b1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.message-box {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.message-success {
    background-color: var(--success-bg);
    color: var(--success-text);
}

.message-error {
    background-color: var(--error-bg);
    color: var(--error-text);
}